
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.nav-login{
    display:flex;
    ul{
        display:flex;
        a{
            padding:15px;
            line-height:20px;
            display:block;
        }
    }
    .aside-btn{
        display:flex;
        padding:20px;
        span{
            margin-right:10px;
        }
        i{
            transform: translateY(15%)
        }
    }
}

    .input.error{
        border-color:red;
    }

span.error{
    padding:10px;
    color:red;
}

.comment-reply{
    margin-top:20px;
}

.followers{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    .follower{
        display:flex;
        flex:0 0 50%;
        margin-bottom:20px;
        img{
            margin-right:10px;
            width:60px;
        }
        a{
            font-size:20px;
            font-weight:600;
        }
    }
}

.user-role{
    font-size:12px;
    background-color:#af3822;
    color:#fff;
    text-transform: uppercase;
    display:inline-block;
    padding:5px 10px;
    font-weight:600;
}

.media{
    position:relative;
    .delete-comment{

        outline:none;
        border:none;
        font-weight:bold;
    }
}

.button-group{
    display:flex;
    :first-child{
        margin-right:10px;
    }
}

.create-comment{
    margin-top:30px;
}

.pop-out-msg{
    position:fixed;
    z-index:1000;
    top:0;
    left:0;
    width:100%;
    background-color:green;
    color:#fafafa;
    padding:15px 30px;
    p{
        padding:0;
        margin:0;
    }
    ::after{
        font-family: 'Font Awesome 5 Free';
        content:'\f14a';
        position:absolute;
        left:13px;
        top:16px;
    }
}

.error-msg{
    background-color:#ca3352;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }

  .animate__animated.animate__slideInDown {
    --animate-duration: .5s;
  }
