
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.nav-login{
    display:flex;
    ul{
        display:flex;
        a{
            padding:15px;
            line-height:20px;
            display:block;
        }
    }
    .aside-btn{
        display:flex;
        padding:20px;
        span{
            margin-right:10px;
        }
        i{
            transform: translateY(15%)
        }
    }
}

    .input.error{
        border-color:red;
    }

span.error{
    padding:10px;
    color:red;
}

.comment-reply{
    margin-top:20px;
}

.followers{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    .follower{
        display:flex;
        flex:0 0 50%;
        margin-bottom:20px;
        img{
            margin-right:10px;
            width:60px;
        }
        a{
            font-size:20px;
            font-weight:600;
        }
    }
}

.user-role{
    font-size:12px;
    background-color:#af3822;
    color:#fff;
    text-transform: uppercase;
    display:inline-block;
    padding:5px 10px;
    font-weight:600;
}

.media{
    position:relative;
    .delete-comment{

        outline:none;
        border:none;
        font-weight:bold;
    }
}

.button-group{
    display:flex;
    :first-child{
        margin-right:10px;
    }
}

.create-comment{
    margin-top:30px;
}
